# Logs
*.log
pnpm-debug.log*

# Dependencies
node_modules

# Build output
dist

# Editor directories and files
.vscode/*
!.vscode/settings.json

# Turborepo
.turbo

# Environment variables
.env

# ESLint
.eslintcache